#title_bar.title_bar
  #titlebar_left
    %h2#page_title Providers
  #titlebar_right
    .action_items
      %span.action_item
        = link_to "New Provider", new_provider_path
.flashes
#active_admin_content.with_sidebar
  .index_as_table
    %table#index_table_storage.index_table.index
      %thead
        %tr>
          %th.col
            Id
          %th.col
            Storage Operator
            %th.col
            Address
          %th.col
            Active
          %th
      %tbody
        - @providers.each do |provider| 
          %tr.odd
            %td= provider.id
            %td= provider.name
            %td= provider.address
            %td= provider.active
            %td
              .dropdown_menu
                %a.dropdown_menu_button{:href => "#"} Actions
                .dropdown_menu_list_wrapper{:style => "display: none;"}
                  %ul.dropdown_menu_list
                    %li.action-items-margin
                      = link_to "Edit", edit_provider_path(provider)
                    %li
                      = link_to "Remove", provider, 
                                method: :delete, data: { confirm: "Are you sure?" }
