<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <span class="breadcrumb">
      <span class="breadcrumb_sep">/</span>
    </span>
    <h2 id="page_title">Transferences</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"><a href="/admin/users/new">New Transference</a></span>
    </div>
  </div>
</div>
<div class="flashes"></div>
<div id="active_admin_content" class="with_sidebar">
  <div class="index_as_table">
    <table id="index_table_storage" class="index_table index">
      <thead>
        <tr>
          <th class="col">Id</th>
          <th class="col">Item</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @transfers.each do |transfer| %>
          <tr class="odd">
            <td><%= item.id %></td>
            <td><%= item.item_name %></td>
            <td>
              <span class="action-items-margin"><%= link_to "View", item %></span>
              <span class="action-items-margin"><%= link_to "Edit", edit_storage_path(item) %></span>
              <span><%= link_to "Remove", item, method: :delete, data: { confirm: "Are you sure?" } %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
