<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <span class="breadcrumb">
      <span class="breadcrumb_sep">/</span>
    </span>
    <h2 id="page_title"> Storage </h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"> <%= link_to "New Item", new_storage_path %> </span>
    </div>
  </div>
</div>
<div class="flashes"></div>
<div id="active_admin_content" class="with_sidebar">
  <div class="index_as_table">
    <table id="index_table_storage" class="index_table index">
      <thead>
        <tr>
          <th class="col">Id</th>
          <th class="col">Item</th>
          <% @departments.each do |dep| %>
            <th class="col"><%= dep.dep_name %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr class="odd">
            <td><%= item.id %></td>
            <td><%= item.item_name %></td>
            <% @departments.each do |dep| %>
              <td> Item Quantity </td>
            <% end %>
            <td>
              <div class="dropdown_menu">
                <a class=" dropdown_menu_button" href="#">Actions</a>
                <div class="dropdown_menu_list_wrapper" style="display: none;">
                  <ul class=" dropdown_menu_list">
                    <li><%= link_to "View", item %></li>
                    <li><%= link_to "Edit", edit_storage_path(item) %></li>
                    <li><%= link_to "Remove", item, method: :delete, data: { confirm: "Are you sure?" } %></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
