<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <li class="action-title"><h2 id="page_title"> Storage | </h2></li>
    <li class="action-title"><h3>Create New Item</h3></li>
  </div>
</div>
<div class="flashes"></div>
<div id="active_admin_content" class="with_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <%= form_for @item do |f| %>
        <fieldset class="inputs">
          <ol>
            <div class="form-group">
              <li class="string input optional stringish">
                <label class="label"> <%= f.label :item_name %> </label>
                <%= f.text_field :item_name %>
                <br/>
              </li>
            </div>
          </ol>
        </fieldset>
        <fieldset class="actions">
          <ol>
            <div class="form-group">
              <li class="action input_action"> <%= f.submit "Create Item" %> </li>
              <li class="cancel"> <%= link_to "Cancel", storages_path %> </li>
            </div>
          </ol>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>